/hypopy/
/phasenet/
/seisbench/
/ttcr/
/Support.docx
/data/2014/MQ/
/data/phase_magnetude/
/data/phase_separe/
/data/phase_vt/
/data/phase_evenement/
/data/phase_snuffler/
__pycache__/
*.pycdata/seisbench_format/waveforms.hdf5
