/Support.docx
/data/2014/MQ/
/data/phase_evenement/
/data/phase_magnetude/
/data/phase_separe/
/data/phase_snuffler/
/data/phase_vt/

*/seisbench_format/
*/seisbench_format_noise/
*/seisbench_nouv/
*/seisbench_format_gold/

/data/volpick/
/images/volpick/


/prg_python/__pycache__/

